<footer
    class="mt-32 py-8 flex flex-row justify-between text-neutral-400 border-t border-neutral-800"
>
    <div>Copyrighted (c) | Released under the MIT License | 2024 - present</div>
    <div>
        <div>
            Built with &#10084;&#65039; by Aditya Borkar
            <!-- & Contributors -->
        </div>
    </div>
</footer>
